NEXT_PUBLIC_API_URL="http://127.0.0.1:8000/api/v1"
NEXT_PUBLIC_WHATSAPP_NUMBER="9007381804"
NEXT_PUBLIC_COMPANY_NAME="Lioc"
NEXT_PUBLIC_COMPANY_EMAIL="lioccalcutta@gmail.com"
NEXT_PUBLIC_COMPANY_PHONE="+91 90073 81804"
NEXT_PUBLIC_COMPANY_SECONDARY_PHONE="+91 80134 51653"
NEXT_PUBLIC_COMPANY_CITY="Jadavpur, Kolkata"
NEXT_PUBLIC_COMPANY_ADDRESS="156, PGH Shah Road, Jadavpur, Kolkata - 700032, West Bengal, India"
